<%- include('../../Layouts/Admin_partials/_Head.ejs') %>

    </head>

    <body>
        <div class="main-wrapper">
            <%- include('../../Layouts/Admin_partials/_Topbar.ejs') %>
                <%- include('../../Layouts/Admin_partials/_Sidebar.ejs') %>
                    <div class="page-wrapper">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-4 col-3">
                                    <h4 class="page-title"><a href="/users">Users</a> - Update</h4>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-box">
                                        <h4 class="card-title">Basic Form</h4>
                                        <form action="/user-update" method="post">
                                            <input type="hidden" name="id" id="id" value="<%= user.id%>">
                                            <div class="form-group">
                                                <labe for="first_name">First Name</label>
                                                    <input value="<%= user.first_name %>" name="first_name"
                                                        id="first_name" type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <labe for="last_name">Last Name</label>
                                                    <input value="<%= user.last_name %>" name="last_name" id="last_name"
                                                        type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <labe for="email">Email</label>
                                                    <input value="<%= user.email %>" name="email" id="email"
                                                        type="email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <labe for="password">Password</label>
                                                    <input name="password" id="password" type="password"
                                                        class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <labe for="phone">Phone</label>
                                                    <input value="<%= user.phone %>" name="phone" id="phone" type="text"
                                                        class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <labe for="dob">Date of Birth</label>
                                                    <input value="<%= user.dob %>" name="dob" id="dob" type="date"
                                                        class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <labe for="address">Address</label>
                                                    <textarea class="form-control" name="address" id="address" cols="30"
                                                        rows="5"><%= user.address %></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label for="gender">Gender</label>
                                                <select name="gender" id="gender" class="form-control">
                                                    <option value="">Please Select</option>
                                                    <option value="Male" <%=(user.gender=='Male' ) ? 'selected' : '' %>
                                                        >Male</option>
                                                    <option value="Female" <%=(user.gender=='Female' ) ? 'selected' : ''
                                                        %>
                                                        >Female</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="status">Status</label>
                                                <select name="status" id="status" class="form-control">
                                                    <option value="">Please Select</option>
                                                    <option value="1" <%=(user.status=='1' ) ? 'selected' : '' %>>Active
                                                    </option>
                                                    <option value="0" <%=(user.status=='0' ) ? 'selected' : '' %>
                                                        >In-active</option>
                                                </select>
                                            </div>
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('../../Layouts/Admin_partials/_FooterScript.ejs') %>